.theme--sunshine {
  --color--interface: var(--grayscale--5);
  --color--background: var(--grayscale--4);
  --color--border: var(--grayscale--3);
  --color--text: var(--grayscale--1);
  --color--link: var(--grayscale--1);
  --color--label: var(--grayscale--7);
  --color--detail: var(--grayscale--8);
  --color--input: var(--grayscale--4);
  --color--placeholder: var(--grayscale--2);
  --color--highlight: var(--violet--3);
  --color--brand: var(--violet--1);

  --background-color--m-button--1: var(--violet--1);
  --border-radius--m-button--1: var(--border-radius--1);
  --color--m-button--1: var(--grayscale--5);

  --background-color--m-button--2: transparent;
  --border-radius--m-button--2: 0;
  --color--m-button--2: var(--grayscale--5);

  --background-color--m-button--3: var(--violet--2);
  --border-radius--m-button--3: var(--border-radius--1);
  --color--m-button--3: var(--grayscale--5);

  --background-color--m-button--4: transparent;
  --border-radius--m-button--4: 0;
  --color--m-button--4: var(--violet--1);

  --background-color--m-button--tag: var(--grayscale--4);
  --border-radius--m-button--tag: var(--border-radius--1);
  --color--m-button--tag: var(--grayscale--text);

  --background-color--m-bar--1: var(--violet--1);
  --color--m-bar--1: var(--grayscale--5);

  --background-color--m-bar--2: var(--color--interface);
  --color--m-bar--2: var(--color--text);
}

.theme--moon {
  --color--interface: var(--grayscale--6);
  --color--background: var(--grayscale--1);
  --color--border: var(--grayscale--1);
  --color--text: var(--grayscale--5);
  --color--link: var(--grayscale--5);
  --color--label: var(--grayscale--8);
  --color--detail: var(--grayscale--7);

  --background-color--t-home__main: var(--color--background);
  --color--t-home__main: var(--color--text);

  --background-color--t-home__content: var(--color--interface);
  --border-radius--t-home__content: var(--border-radius--2);

  --background-color--m-button--1: var(--violet--1);
  --border-radius--m-button--1: var(--border-radius--1);
  --color--m-button--1: var(--grayscale--5);

  --background-color--m-button--2: transparent;
  --border-radius--m-button--2: 0;
  --color--m-button--2: var(--grayscale--5);

  --background-color--m-button--3: var(--violet--2);
  --border-radius--m-button--3: var(--border-radius--1);
  --color--m-button--3: var(--grayscale--5);

  --background-color--m-button--4: transparent;
  --border-radius--m-button--4: 0;
  --color--m-button--4: var(--violet--1);

  --background-color--m-bar--1: var(--violet--1);
  --color--m-bar--1: var(--grayscale--5);
  --border-color--m-bar--1: var(--violet--1);

  --background-color--m-bar--2: var(--color--interface);
  --color--m-bar--2: var(--color--text);

  --color--m-navigation--1__item: var(--color--label);
  --color--m-navigation--1__item-is-active: var(--violet--1);
  --border-color--m-navigation--1__item-is-active: var(--violet--1);
}
