.theme--sunshine {
  --background-color--m-bar--1: var(--grayscale--5);
  --color--m-bar--1: var(--grayscale--1);
  --border-color--m-bar--1: var(--grayscale--3);

  --background-color--m-bar--2: var(--grayscale--5);
  --color--m-bar--2: var(--grayscale--1);

  --background-color--t-home__main: var(--grayscale--4);
  --color--t-home__main: var(--grayscale--1);

  --background-color--t-home__content: var(--grayscale--5);
  --border-radius--t-home__content: var(--border-radius--2);

  --background-color--m-button--1: var(--violet--1);
  --border-radius--m-button--1: var(--border-radius--1);
  --color--m-button--1: var(--grayscale--5);

  --background-color--m-button--2: var(--grayscale--4);
  --border-radius--m-button--2: var(--border-radius--1);
  --color--m-button--2: var(--violet--1);

  --color--m-navigation--1__item: var(--grayscale--2);
  --color--m-navigation--1__item-is-active: var(--violet--1);
  --border-color--m-navigation--1__item-is-active: var(--violet--1);

  --color--link: var(--grayscale--1);
}
