.theme--sunshine {
  --color--interface: var(--grayscale--5);
  --color--background: var(--grayscale--4);
  --color--border: var(--grayscale--3);
  --color--text: var(--grayscale--1);
  --color--link: var(--grayscale--1);
  --color--label: var(--grayscale--7);
  --color--detail: var(--grayscale--8);
  --color--input: var(--grayscale--4);
  --color--placeholder: var(--grayscale--2);
  --color--highlight: var(--violet--3);
  --color--brand: var(--violet--1);

  --background-color--m-button--alpha: var(--violet--1);
  --border-radius--m-button--alpha: var(--border-radius--1);
  --color--m-button--alpha: var(--grayscale--5);

  --background-color--m-button--beta: transparent;
  --border-radius--m-button--beta: 0;
  --color--m-button--beta: var(--grayscale--5);
  
  --background-color--m-button--3: var(--violet--2);
  --border-radius--m-button--3: var(--border-radius--1);
  --color--m-button--3: var(--grayscale--5);
  
  --background-color--m-button--4: transparent;
  --border-radius--m-button--4: 0;
  --color--m-button--4: var(--violet--1);

  --background-color--m-button--tag: var(--grayscale--4);
  --border-radius--m-button--tag: calc(var(--unit) * 4);
  --color--m-button--tag: var(--grayscale--text);

  --background-color--m-bar--alpha: var(--violet--1);
  --color--m-bar--alpha: var(--grayscale--5);

  --background-color--m-bar--default: var(--color--interface);
  --color--m-bar--default: var(--color--text);
}