.o-header {
  justify-content: space-between;
  padding: calc(var(--unit) * 2);
}

.o-header__logo {
  margin: calc(var(--unit) * 2);
}

.o-header__action {
  padding: var(--unit);
}

.o-header__action > * {
  margin: var(--unit);
}
