.m-bar__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.m-bar--s {
  height: calc(var(--unit) * 10);
}

.m-bar--m {
  height: calc(var(--unit) * 15);
}

.m-bar--action {
  background-color: var(--background-color--m-bar--default);
  color: var(--color--m-bar--default);
}

.m-bar--main {
  background-color: var(--background-color--m-bar--alpha);
  color: var(--color--m-bar--alpha);
}
