.m-button {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
  line-height: 1;
  font-weight: var(--font-weight--2);
  text-decoration: none;
}

.m-button__label {
  margin: 0 var(--unit);
}

.m-button--s {
  padding: 0 var(--unit);
  font-size: var(--font-size--6);
  height: calc(var(--unit) * 6);
}

.m-button--m {
  padding: 0 calc(var(--unit) * 2);
  font-size: var(--font-size--2);
  height: calc(var(--unit) * 8);
}

.m-button--main {
  background-color: var(--background-color--m-button--main);
  border-radius: var(--border-radius--m-button--main);
  color: var(--color--m-button--main);
}

.m-button--beta {
  background-color: var(--background-color--m-button--beta);
  border-radius: var(--border-radius--m-button--beta);
  color: var(--color--m-button--beta);
}

.m-button--3 {
  background-color: var(--background-color--m-button--3);
  border-radius: var(--border-radius--m-button--3);
  color: var(--color--m-button--3);
}

.m-button--4 {
  background-color: var(--background-color--m-button--4);
  border-radius: var(--border-radius--m-button--4);
  color: var(--color--m-button--4);
}

.m-button--tag {
  background-color: var(--background-color--m-button--tag);
  border-radius: var(--border-radius--m-button--tag);
  color: var(--color--m-button--tag);
  text-transform: uppercase;
  font-weight: var(--font-weight--3);
}

.m-button--tag .material-icons {
  font-size: var(--font-size--2);
}