.o-currency {
  padding: calc(var(--unit) * 4);
  background-color: var(--color--interface);
}

.o-currency__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.o-currency__name {
  max-width: calc(var(--unit) * 45);
}

.o-currency__name .cc {
  margin-left: var(--unit);
}

.o-currency__name {
  display: flex;
  align-items: center;
}

.o-currency__variation {
  display: flex;
  align-items: center;
}

.o-currency__variation.is-up {
  color: var(--green--1);
}

.o-currency__variation.is-down {
  color: var(--red--1);
}

.o-currency__figures {
  display: flex;
  margin-top: calc(var(--unit) * 4);
}

.o-currency__figures > * {
  width: calc(100% / 3);
}

.o-currency__figures > * > *:last-child {
  margin-top: var(--unit);
}
