.o-content {
  background-color: var(--color--interface);
}

.o-content__comment-form {
  padding: calc(var(--unit) * 4);
}

.o-content__comments {
  padding: 0 calc(var(--unit) * 4) calc(var(--unit) * 4) 0;
}

.o-content__footer {
  padding: calc(var(--unit) * 6);
  display: flex;
}

.o-content__footer > * {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 960px) {
  .o-content {
    width: 70%;
    margin: calc(var(--unit) * 4);
    border-radius: var(--border-radius--2);
    margin: calc(var(--unit) * 4);
  }
}
