.o-currency {
  user-select: none;
}

.o-currency__control {
  display: block;
  position: relative;
}

.o-currency__control input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.o-currency__container {
  cursor: pointer;
}

.o-currency__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size--3);
}

.o-currency__name {
  max-width: calc(var(--unit) * 45);
}

.o-currency__name .cc {
  margin-left: var(--unit);
}

.o-currency__name {
  display: flex;
  align-items: center;
}

.o-currency__variation {
  display: flex;
  align-items: center;
}

.o-currency__variation.is-up {
  color: var(--green--1);
}

.o-currency__variation.is-down {
  color: var(--red--1);
}

.o-currency__figures {
  display: flex;
  margin-top: calc(var(--unit) * 2);
}

.o-currency__figures > * {
  width: calc(100% / 3);
}

/* default */
.o-currency--default {
  background-color: var(--color--interface);
}

.o-currency--default .o-currency__container {
  padding: calc(var(--unit) * 4);  
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.o-currency--default input[type='checkbox']:checked + .o-currency__container {
  background-color: var(--color--highlight);
  border-left-color: var(--color--brand);
}

/* form */
.o-currency--form .o-currency__container {
  padding: calc(var(--unit) * 2);  
  border: 2px solid transparent;
  border-radius: var(--border-radius--1);
  background-color: var(--color--input);
}

.o-currency--form input[type='checkbox']:checked + .o-currency__container {
  background-color: var(--color--highlight);
  border-color: var(--color--brand);
}