.o-news {
  padding: calc(var(--unit) * 4);
  border-bottom: 1px solid var(--color--border);
}

.o-news__container {
  display: flex;
  align-items: center;
}

.o-news__title {
  font-size: var(--font-size--3);
  font-weight: var(--font-weight--3);
  text-decoration: none;
}

.o-news__source {
  color: var(--color--detail);
  font-weight: var(--font-weight--1);
}

.o-news__detail {
  margin-top: var(--unit);
  font-size: var(--font-size--1);
  color: var(--color--detail);
}

.o-news__separator {
  padding: 0 calc(var(--unit) * 2);
}

.o-news .o-button-vote {
  margin-right: calc(var(--unit) * 4);
}
